* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


header {
    width: 100%;
    height: 5vw;
    background-color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
}




#logo_header {
    width: 5vw;
    height: 5vw;
    margin-top: -1.5vw;
    margin-left: -5vw;
}

.btn_connecter {
    color: black;
    font-family: "Helvetica Neue";
    font-weight: bold;
    margin-left: 60vw;
    margin-top: 1.5vw;
    transition: 0.2s;
}

.btn_connecter:hover {
    color: #da692a;
}

.menu_nav {
    padding-top: 1.5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    width: 20vw;
}

.menu_nav li {
    margin-left: 5vw;
}

.menu_nav li a {
    font-family: "Helvetica Neue";
    font-weight: bold;
    color: black;
    transition: 0.2s;
    white-space: nowrap;
}

.menu_nav li a:hover {
    color: #da692a;
}

#body_accueil {
    margin-top: -5vw;
    height: 100%;
    width: 100%;
    background-image: url("photos/jetski-whitsundays.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo_accueil {
    margin-top: -14vw;
    transform: scale(50%);
    position: absolute;
}

.body_page {
    width: 100%;
    height: 100%;
    background-color: #2D728A;
}

.bandeau_titre {
    background-color: white;
    text-align: center;
}

.titre_accueil {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 3rem;
    color: #E87D3F;
}

.separator {
    background-color: black;
    height: 1px;
    width: 90%;
    margin: 2vw auto;
}

.separator2 {
    background-color: black;
    height: 2px;
    width: 90%;
    margin: 2vw auto;
}

